@import '../../app/variables.scss';

.input {
 height: 36px;
 border-radius: 20px;
 border: none;
 padding: 20px;
 transition: $transition;

 &:hover {
  border-radius: 8px;
  background-color: $foreground;
  color: $background;
  box-shadow: $box-shadow;
  transform: $scale;
 }

 &:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
 }
}
