@import '../../app/variables.scss';

.btn {
 color: $foreground;
 padding: 20px;
 border-radius: 20px;
 font-size: medium;
 background-color: transparent;
 border: 1px solid $foreground;
 cursor: pointer;
 transition: $transition;
 box-shadow: none;

 &Danger {
  &:hover {
   color: $danger !important;
   border: 1px solid $danger;
  }
 }

 &:hover {
  border-radius: 8px;
  background-color: $foreground;
  color: $background;
  box-shadow: $box-shadow;
  transform: $scale;
 }

 &:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
 }
}
