@import url(../../app/globals.css);

.btn {
 color: var(--foreground);
 padding: 20px;
 border-radius: 20px;
 font-size: medium;
 background-color: transparent;
 border: 1px solid var(--foreground);
 cursor: pointer;
 transition: var(--transition);
 box-shadow: none;

 &Danger {
  &:hover {
   color: var(--danger) !important;
   border: 1px solid var(--danger);
  }
 }

 &:hover {
  border-radius: 8px;
  background-color: var(--foreground);
  color: var(--background);
  box-shadow: var(--box-shadow);
  transform: var(--scale);
 }

 &:active {
  transform: scale(0.98);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
 }
}
