:root {
 --background: #ffffff;
 --foreground: #171717;
 --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
 --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
 --scale: scale(1.05);
 --golden: #f4eab1;
 --danger: #cd4055;
 --danger-box-shadow: 2px -1px 8px 7px rgba(205, 64, 85, 0.2);
}

@media (prefers-color-scheme: dark) {
 :root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --golden: #ffd700;
 }
}

html,
body {
 max-width: 100vw;
 overflow-x: hidden;
}

body {
 color: var(--foreground);
 background: var(--background);
 font-family: Arial, Helvetica, sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

a {
 color: inherit;
 text-decoration: none;
}

@media (prefers-color-scheme: dark) {
 html {
  color-scheme: dark;
 }
}
