$background: #171717;
$foreground: #ffffff;
$golden: #ffeb80;
$danger: #cd4055;
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
$danger-box-shadow: 2px -1px 8px 7px #cd4055;
$scale: scale(1.05);
